/* General settings */

/** Fonts **/

@import url('https://fonts.googleapis.com/css2?family=Exo:wght@400;500;600;700&display=swap');

/** Headings and paragraphs **/

h1,
h2,
h3 {
  color: #a5c3ef;
  font-family: 'Exo', sans-serif;
  font-weight: 700;
}

p {
  color: #a5c3ef;
  font-family: 'Exo', sans-serif;
  font-weight: 500;
}

/* Main container */

.main-container {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.8)),
    url(../images/board-776688_1280.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Instruction area */

.instruction-area h2 {
  display: block;
}

/* Game area */

/** Score area **/

/*** Make the heading and paragraph display side by side ***/

.score-area h3,
.score-area p {
  display: inline-block;
}

/** Answer area **/

.btn-container {
  min-width: 50%;
}