/* General settings */

/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Exo:wght@500;600;700&display=swap');

/* Headings and paragraphs */

h1 {
  font-size: 2.5em;
}

h1,
h2,
h3 {
  color: #a5c3ef;
  font-family: 'Exo', sans-serif;
  font-weight: 700;
}

p {
  color: #a5c3ef;
  font-family: 'Exo', sans-serif;
  font-weight: 500;
}

footer p {
  font-weight: 700;
}

/* Buttons and anchors */

button.btn-primary {
  color: #151515;
  background-color: #a5c3ef;
  border-color: #a9c6f1;
  font-family: 'Exo', sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
}

button.btn-primary:hover {
  color: #a5c3ef;
  background-color: #151515;
  border-color: #a5c3ef;
}

button.btn-primary:focus,
button.btn-primary:active {
  color: #151515;
  background-color: #a5c3ef;
  border-color: #a9c6f1;
  box-shadow: 0 0 0 .25rem rgba(165, 195, 239, .25);
}

button.answer-button {
  font-family: 'Exo', sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
}

button.answer-button.btn-success {
  color: #fff;
  background-color: #28a745;
  border-color: #29aa47;
}

button.answer-button.btn-danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #df3748;
}

a.end-game-anchor.btn-danger {
  font-family: 'Exo', sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
}

/* Main container */

.main-container {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.8)),
    url(../images/board-776688_1280.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Offcanvas components "Create Game" and "Give Feedback" */

.offcanvas-game.offcanvas,
.offcanvas-feedback.offcanvas {
  background-color: #151515;
  color: #a5c3ef;
  font-family: 'Exo', sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
}

.offcanvas-game.offcanvas select,
.offcanvas-feedback.offcanvas input,
.offcanvas-feedback.offcanvas textarea {
  color: #a5c3ef;
  background-color: #151515;
  border: 2px solid #a5c3ef;
}

.offcanvas-game.offcanvas select:hover,
.offcanvas-game.offcanvas select:focus,
.offcanvas-game.offcanvas select:active,
.offcanvas-feedback.offcanvas input:hover,
.offcanvas-feedback.offcanvas input:focus,
.offcanvas-feedback.offcanvas input:active,
.offcanvas-feedback.offcanvas textarea:hover,
.offcanvas-feedback.offcanvas textarea:focus,
.offcanvas-feedback.offcanvas textarea:active {
  box-shadow: 0 0 0 .25rem rgba(165, 195, 239, .25);
}

/* Colour for the switch button */

.offcanvas-game.offcanvas .form-check-input:checked {
  background-color: #a5c3ef;
  border-color: #a9c6f1;
}

.offcanvas-game.offcanvas .form-check-input:focus {
  box-shadow: 0 0 0 .25rem rgba(165, 195, 239, .25);
}

/*
Vendor-specific extensions to allow the slider to use the same colours as the rest of the form
Code was copied from https://stackoverflow.com/a/56424165
*/

.form-range::-webkit-slider-thumb {
  background: #a5c3ef;
}

.form-range::-webkit-slider-thumb:active {
  box-shadow: 0 0 0 .25rem rgba(165, 195, 239, .25);
}

.form-range::-moz-range-thumb {
  background: #a5c3ef;
}

.form-range::-moz-range-thumb:active {
  box-shadow: 0 0 0 .25rem rgba(165, 195, 239, .25);
}

.form-range::-ms-thumb {
  background: #a5c3ef;
}

.form-range::-ms-thumb:active {
  box-shadow: 0 0 0 .25rem rgba(165, 195, 239, .25);
}

/*
Score area 
Make the heading and paragraph display side by side
*/

.score-area h3,
.score-area p {
  display: inline-flex;
}

.score-area h3 {
  margin: 0 .5rem 0 .5rem;
}

.score-area p {
  font-size: 1.2em;
}

.score-area-correct,
.score-area-points {
  color: #28a745;
}

.score-area-incorrect,
p.score-area-time {
  color: #dc3545;
}

/*
Question area
Display a balloon when finishing the game with maximum points
The balloon ribbon has been shortened as it is not very responsive
The code for the balloon was copied from https://codepen.io/bennettfeely/pen/nbFCp
*/

.question-area p {
  font-weight: 600;
  font-size: 1.1em;
}

.balloon {
  display: inline-block;
  width: 120px;
  height: 145px;
  background: hsl(120, 50%, 65%);
  border-radius: 80%;
  position: relative;
  box-shadow: inset -10px -10px 0 rgba(0, 0, 0, 0.07);
  margin: 20px 30px;
  transition: transform 0.5s ease;
  z-index: 10;
  animation: balloons 4s ease-in-out infinite;
  transform-origin: bottom center;
}

@keyframes balloons {

  0%,
  100% {
    transform: translateY(0) rotate(-4deg);
  }

  50% {
    transform: translateY(-25px) rotate(4deg);
  }
}

.balloon:before {
  content: "▲";
  font-size: 20px;
  color: hsl(120, 30%, 50%);
  display: block;
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: -12px;
  z-index: -100;
}

.balloon:after {
  display: block;
  top: 150px;
  position: relative;
  height: 100px;
  width: 1px;
  margin: 0 auto;
  content: "";
  background: rgba(255, 255, 255, 1);
}

/* Answer area */

.btn-container {
  min-width: 50%;
}

/* 
Media queries 
Only used for really small screens 
*/

@media screen and (max-width: 300px) {

  .answer-area-one,
  .answer-area-two {
    flex-wrap: wrap;
    justify-content: space-around;
  }
}